<p id="notice"><%= notice %></p>

<h1>Plantas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantas.each do |planta| %>
      <tr>
        <td><%= planta.nome %></td>
        <td><%= link_to 'Show', planta %></td>
        <td><%= link_to 'Edit', edit_planta_path(planta) %></td>
        <td><%= link_to 'Destroy', planta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planta', new_planta_path %>
