<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @user.perfil %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @user.data_nascimento %>
</p>

<p>
  <strong>Ponto:</strong>
  <%= @user.ponto %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
